body {
    background-color: #222; /* Темный фон */
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.thumbnails {
    display: flex;
    gap: 15px; 
}

.thumb {
    width: 150px;
    height: 100px;
    object-fit: cover; 
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
}

.preview {
    width: 600px;
    min-height: 400px;
    background-color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #444;
}

#full-image {
    max-width: 100%;
    max-height: 100%;
    display: none; 
}

#placeholder-text {
    color: #888;
}