body {
  margin: 0;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

#progress-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

#progress-bar {
  height: 20px;
  width: 100%;
  background-color: #5555cc;
  border-radius: 5px;

  transform-origin: left center;
  transform: scaleX(0);
}

#progress-time {
  margin-top: 8px;
  font-size: 16px;
}